/* first step is always first setup the margin, padding = 0 and box-sizing across all html*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*second setup the font, color, size and weight for all the html elements*/

html {
    background-color: #fff;
    color: #555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;   /* top -> right -> bottom -> left */
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(img/tamil_kalvettu1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}

.header-text-box {
    position: absolute;
    width: 1140px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
    
h1, h2, h3 {
    font-weight: 300;
    text-transform: none;
    letter-spacing: 1px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 180%;
    word-spacing: 4px;
}

h2 {
    font-size: 150%;
    text-align: center;
    margin-bottom: 20px;
    
}

h2:after {
    display: block;
    height: 2px;
    background-color: #d35400;
    content: " ";
    width: 100px;
    margin: 20px auto 0 auto;    
}

h3 {
    font-size: 110%;
    margin-bottom: 20px;
    color: #d35400;
    text-align: center;
}

h3:after {
    display:block;
    height: 2px;
    background-color: #d35400;
    content: " ";
    width: 140px;
    margin: 5px auto 0 auto;
}

.span-box {
    line-height: 145%;
    padding: 2%;
    border: 0.5px solid #d35400;
}

.span-box p {
    font-size: 85%;
}

.date {
    font-size: 90%;
    color: #d35400;
    padding: 10px 10px 0 180px;
}


.clear-space {
    margin-bottom: 20px;
    clear: both;
  }

.myCreations-para {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    padding-bottom: 20px;
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 150px;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
    
}

.btn-full:link,
.btn-full:visited{
    background-color: #d35400;
    border: 1px solid #d35400;
    color: #fff;
    margin-right: 15px;
}

.btn-empty:link,
.btn-empty:visited{
    border: 1px solid #d35400;
    color: #d35400;
}   


.btn:hover,
.btn:active{
    background-color: #b14600;
    
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #b14600;

}

.btn-empty:hover,
.btn-empty:active{
    border: 1px solid #b14600;
    color: #fff;

}   

.logo {
    float: left;
    font-size: 30px;
    color: #d35400;
    font-family: 'zapfino', 'Italianno', cursive;;
    margin-top: 10px;
    padding-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display:inline-block;
    margin-left: 40px; 
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    padding: 6px 0;
    color: #d35400;
    text-transform: capitalize;
    font-size: 90%;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #fff;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(225, 225, 225, 0.98);
    box-shadow: 0 3px 3px #efefef;
    z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 6px 0;
    color: #d35400;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    border-bottom: 2px solid #d35400;
}



section {
    padding: 80px;
}

.section-myCollections{
    padding:50px;
}

.myCollection-ul {
    list-style: none;
    width: 100%;
}

.clearfix {
    clear:both;
}
.myCollection-ul li {
    display: block;
    float: left;
    width: 25%;
}

.list-photos {
    width: 100%;
    margin: 0%;
    overflow: hidden;
    background-color: #000;

}

.list-photos img {
    width:100%;
    height: 200px;
    opacity: 0.6;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.list-photos img:hover {
    opacity: 1;
    transform: scale(1.03);
}

.photos-caption p {
    text-align: center;
    margin-bottom: 0px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 0;
}

.myInspiration-box {
    margin-top: 30px;
}

.myInspiration-box:first-child {
    text-align: right;
    padding-right: 2%;
}

.myInspiration-box:last-child {
    text-align: left;
    padding-left: 5%;
    float: left;
    
}

.inspirationPic img {
    width: 90%;
    height: 115px;
}

.inspirationList {
    padding: 35px 0;
}

.inspirationList div {
    color:#d35000;
    border: 1px solid #d35000; 
    display: inline-block;
    float: left;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 120%;
    padding: 5px;
    margin-right: 25px;
}

.inspirationList p a {
    color: #d35000;
    text-decoration: none;
}

.section-myCollections h2 {
    padding: 25px 0;
}

.section-myCreations {
    background-color: #f5f5f5;
}

.section-myInspiration {
    background-color: #f5f5f5;
}

.cities-photo .city-name {
    color: #d35000;
    text-align: center;
    padding: 20px 0;
    font-size: 120%;
}

.cities-photo p {
    text-align: left;
    padding: 20px 0;
}

.cities-photo img {
    width: 100%;
    height: 200px;
}


.section-aboutMe {
    background-color: #f5f5f5;
}

.aboutMe-text {
    display: block;
    float: left;
}

.aboutMe-text img {
    width: 100%;
}


.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/award1.jpg);
    background-position: top;
}

.section-testimonials h2{
    color: #fff;
}

.testimonials-text {
    padding: 250px 20px 20px 30px;
    color: #fff;
    font-size: 90%;
    line-height: 150%;
    font-weight: 100;
    text-align: left;
}

.testimonials-by {
    text-align: right;
    color: #d35000;
    padding-right: 40px;
    font-size: 110%;
}


.section-footer {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
}

.footer-text {
    padding-top: 30px;
    color: #d35000;
    text-align: center;
    line-height: 130%;
    font-size: 90%;
  
}

.footer-text a {
    text-decoration: none;
    color: #fff;
}



